.Medium {
	font-family: Segoe UI;
	font-size: 10px;
}

.Par_défaut {
	font-family: Segoe UI;
	font-size: 11px;
}

.Small {
	font-family: Segoe UI;
	font-size: 9px;
}

.Standard {
	font-family: Segoe UI;
	font-size: 11px;
}

