.Medium {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Par_défaut {
	font-family: Lucida Grande;
	font-size: 12px;
}

.Small {
	font-family: Lucida Grande;
	font-size: 9px;
}

.Standard {
	font-family: Lucida Grande;
	font-size: 12px;
}

