name: Build

on:
  push:
    paths:
      - '**.4dm'
  pull_request:
    paths:
      - '**.4dm'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout current repository
        uses: actions/checkout@v4

      - name: Checkout 4DPop
        uses: actions/checkout@v4
        with:
          repository: vdelachaux/4DPop
          path: _tmp
          sparse-checkout: |
            BUILD/Components/4DPop.4dbase
          sparse-checkout-cone-mode: false

      - name: Copy 4DPop into Components
        shell: pwsh
        run: |
          $source = "_tmp/BUILD/Components/4DPop.4dbase"
          $destination = "Components"

          Write-Host "Creating Components directory if needed..."
          New-Item -ItemType Directory -Force -Path $destination | Out-Null

          Write-Host "Copying bundle..."
          Copy-Item -Recurse -Force -Path $source -Destination $destination

          Write-Host "Bundle copied successfully."

      - name: Build
        uses: 4d/build4d-action@main
        with:
          product-line: vcs
          version: vcs
          build: official
          token: ${{ secrets.DLTK }}
          